HELP.md
!.mvn/wrapper/maven-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar

dist/
gen/
reports/
target/
module_*.xml
.DS_Store
.git
.gradle
.metadata
.pmd
.svn
~
*~
*.bak
*.class
*.log
*.swp
catalina.base*
Thumbs.db

**/build/
**/dist/
**/gen/
**/reports/
**/target/
**/module_*.xml
**/.DS_Store
**/.git
**/.gradle
**/.metadata
**/.pmd
**/.svn
**/~
**/*~
**/*.bak
**/*.class
**/*.log
**/*.swp
**/catalina.base*
**/Thumbs.db

!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache
**/bin/

!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

**/.idea
**/*.iws
**/*.iml
**/*.ipr
**/out/

!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
*.code-workspace

**/.vscode/
**/*.code-workspace

