<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- always good activate OnConsoleStatusListener -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <springProperty name="LOG_PATH" source="logging.file.path" defaultValue="logs"/>
    <!--<springProperty name="LOG_FILE_SUFFIX" source="logging.file.suffix" defaultValue=""/>-->

    <property name="ACCESS_CONSOLE_LOG_PATTERN" value="${ACCESS_CONSOLE_LOG_PATTERN:-%h %i{NS-CLIENT-IP} %l %u [%t{yyyy-MM-dd HH:mm:ss.SSS}] &quot;%i{Host}&quot; &quot;%r&quot; %s %b &quot;%i{Referer}&quot; &quot;%i{User-Agent}&quot;}"/>
    <property name="ACCESS_CONSOLE_LOG_CHARSET" value="${ACCESS_LOG_CHARSET:-${file.encoding:-UTF-8}}"/>
    <property name="ACCESS_FILE_LOG_PATTERN" value="${ACCESS_CONSOLE_LOG_PATTERN:-%h %i{NS-CLIENT-IP} %l %u [%t{yyyy-MM-dd HH:mm:ss.SSS}] &quot;%i{Host}&quot; &quot;%r&quot; %s %b &quot;%i{Referer}&quot; &quot;%i{User-Agent}&quot;}"/>
    <property name="ACCESS_FILE_LOG_CHARSET" value="${ACCESS_LOG_CHARSET:-${file.encoding:-UTF-8}}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>${ACCESS_CONSOLE_LOG_CHARSET}</charset>
            <pattern>${ACCESS_CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ACCESS-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/access.log</file>
        <append>true</append>
        <encoder>
            <charset>${ACCESS_FILE_LOG_CHARSET}</charset>
            <pattern>${ACCESS_FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archive/access-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>${LOGBACK_ROLLINGPOLICY_MAX_FILE_SIZE:-10MB}</maxHistory>
			<totalSizeCap>${LOGBACK_ROLLINGPOLICY_TOTAL_SIZE_CAP:-0}</totalSizeCap>
            <maxFileSize>${LOGBACK_ROLLINGPOLICY_MAX_HISTORY:-7}</maxFileSize>
        </rollingPolicy>
    </appender>

    <appender-ref ref="CONSOLE"/>

    <!-- Active profile : Development, Testbed, QA, Staging, Production -->
    <springProfile name="dev | test | tb | qa | qat | stg | stage | prod">
        <appender-ref ref="ACCESS-LOG"/>
    </springProfile>
</configuration>